@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
  font-size: 16px;
  font-family: 'Lora',serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3em;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}
h3 {
  font-family: 'Roboto Mono', monospace;
}
h4 {
  font-family: 'Roboto Mono', monospace;
}
h5 {
  font-family: 'Roboto Mono', monospace;
}

main {
  
}

.fyrirl-haus {
  height: 40vh;
  background-size: cover !important;
  background-position: center, center;
  
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.fyrirl-haus__titill {
  text-align: center;
}

.fyrirl-haus__flokkur {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

.fyrirlestur {
  padding-bottom: 30px;
  max-width: 1200px;
}


.fyrirlestur__tilvitnun {
  background-color: #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.fyrirlestur__tilvitnun p {
  padding-left: 20px;
  padding-right: 20px;
}

.fyrirlestur__tilvitnun--hofundur {
  padding-top: 20px;
  font-style: italic;
}

.fyrirlestur__texti {
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.fyrirlestur__malsgrein {
  padding-top:10px;
  padding-bottom: 10px;
}

.fyrirlestur__mynd{
  
  padding-top: 20px;
  
  width:100%;
}

.fyrirlestur__mynd--yfirskrift {
  
  padding-bottom: 20px;
}

.fyrirlestur__fyrirsogn {
  
  padding-top:10px;
  
  
}

.fyrirlestur__listi {
  
  padding-top:20px;
  
}

.fyrirlestur__listi--stak {
  padding-bottom: 20px;
}

.fyrirlestur__kodi {
  
  padding-top: 20px;
  
  padding-bottom: 20px;
}

.fyrirlestur__youtube{
  
  margin: 0 auto;
  
  padding-top:40px;
  
  width:100%;
  height: 80vh;
  
}

.footer {
  margin: 0 auto;
}

.footer p {
  padding-top:30px;
  padding-bottom:20px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #000;
}


.fyrirlestur__hak--falid {
  display: none;
}
.fyrirlestur__lok {
  padding-top:30px;
  text-align: center;
  display: flex;
  flex-flow: column-reverse;
}
.fyrirlestur__lok--gron {
  color: #2d2;
}
@media (min-width:1200px) {
  html{
    margin: 0 auto;
  }

  .fyrirl-haus {
    height:30vh;
  }
  .fyrirlestur {
    max-width: 800px;
    margin: 0 auto;
  }

  .fyrirlestur__youtube {
    height: 50vh;
    margin: 0 auto;
    padding-left:5px;
    padding-right:5px;
  }

  .fyrirlestur__tilvitnun {
    margin-left: -15px;
    margin-right: -15px;
  }
  .fyrirlestur__tilvitnun p {
    padding-left:20px;
    padding-right:20px;
  }

  .fyrirlestur__texti {
    padding-left: 5px;
    padding-right: 5px;
  }

  .fyrirlestur__fyrirsogn {
    padding-left: 5px;
    padding-right: 5px;  
  }

  .fyrirlestur__kodi {
    padding-left: 5px;
    padding-right: 5px;  
  }

  .fyrirlestur__listi {
    padding-left: 5px;
    padding-right: 5px;  
  }

  .fyrirlestur__mynd {
    padding-left: 5px;
    padding-right: 5px;  
  }

  .fyrirlestur__mynd--yfirskrift {
    padding-left: 5px;
    padding-right: 5px;  
  }
}