* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Times New Roman';
    font-size: 16px;
}

.allt__efni {
    width: 100%;
}

.category__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category__button {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 40px 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    font-weight: 900;
    color: #000;
    background-color: #ccc;
    border-radius: 1rem;
    transition: background-color 300ms ease-in-out;
}

.category {
    display: flex;
    justify-content: space-around;
}

.header__wrap > h1 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 900;
    font-family: 'Courier New';
    font-size: 2.5em;
    width: 100%;
}

.header__wrap > h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New';
    font-size: 16px;
    width: 100%;
    margin-top: auto;
}

.fyrirlestrar__hluti {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
    flex-direction: column;
    background-color: #ccc;
    transition: background-color 300ms ease-in-out;
}

.header__wrap {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    background: url(https://raw.githubusercontent.com/eeg8/vef1-2018-h2/master/img/header.jpg);
    background-size: cover;
    opacity: 0.6;
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

.fyrirlestrar__flokkur {
    padding-left: 10px;
    text-transform: uppercase;
}

main {
    margin: 0 auto;
    max-width: 1250px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    width: 100%;
    height: 200px;
}

.fyrirlestrar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.fyrirlestrar__titlewrap {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.fyrirlestrar__col {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    width: 100%;
}

.lectures__titlewrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.takkar {
    display: flex;
    margin: 40px 20px;
    width: 100%;
}

.javascript__takki {
    width: 33%;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #ccc;
    border: 0px;
    border-radius: 7px;
    font-size: 2em;
}

.javascript__takki--active {
    width: 33%;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #2d2;
    border: 0px;
    border-radius: 7px;
    font-size: 2em;
}

.html__takki {
    width: 33%;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #ccc;
    border: 0px;
    border-radius: 7px;
    font-size: 2.5em;
}

.html__takki--active {
    width: 33%;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #2d2;
    border: 0px;
    border-radius: 7px;
    font-size: 2.5em;
}

.css__takki {
    width: 33%;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #ccc;
    border: 0px;
    border-radius: 7px;
    font-size: 2.5em;
}

.css__takki--active {
    width: 33%;
    height: 100%;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #2d2;
    border: 0px;
    border-radius: 7px;
    font-size: 2.5em;
}

img {
    max-width: 100%;
    opacity: 0.6;
}

.fyrirlestrar__checkbox--hidden {
    display: none;
    max-width: 20px;
    max-height: 20px;
}

.fyrirlestrar__checkbox {
    max-width: 20px;
    max-height: 20px;
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 800;
    color: #2d2;
}

@media (min-width: 1499px) { 
    .fyrirlestrar__col {
        width: 33.333%;
    }
}
