@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
  font-size: 16px;
  font-family: 'Lora',serif;
  max-width: 1200px;
}

h1 {
  font-family: 'Roboto Mono', monospace;
}
h2 {
  font-family: 'Roboto Mono', monospace;
}
h3 {
  font-family: 'Roboto Mono', monospace;
}
h4 {
  font-family: 'Roboto Mono', monospace;
}
h5 {
  font-family: 'Roboto Mono', monospace;
}

main {
  
  padding-left:20px;
  padding-right: 20px;
}

.fyrirl-haus {
  
}


.fyrirlestur__tilvitnun {
  background-color: #ccc;

}